@tailwind base;
@tailwind components;
@tailwind utilities;

.panel
{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

body
{
    background-color: goldenrod;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

header
{
    background-color: coral;
}

h1
{
    font-family: "Berlin Sans FB", serif;
    font-size: xxx-large;
    text-align: -webkit-center;
}

.buttons1
{
    background: #ffc73b;
    text-align: -webkit-center;
}

.pizzamenu
{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    background-color: #ffc73b;
    text-align: -webkit-center;
    flex-wrap: wrap;
}

.pizzamenuitem
{
    margin: 20px;
    width: 29%;
    display: flex;
    flex-direction: column;
}

.bestelmenu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffc73b;
    text-align: -webkit-center;
}

.bestelmenuitem
{
    display: flex;
    justify-content: space-around;
}

.wagenmenu
{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #ffc73b;
    text-align: -webkit-center;
}

.wagenitem
{
    display: flex;
    justify-content: space-around;
}

.wagenitemitem
{
    vertical-align: middle;
    border: 2px solid black
}

.buttons2
{
    display: flex;
    font-family: "Berlin Sans FB", serif;
    font-size: x-large;
    background-color: #ffac00;
}

.buttons2:hover
{
    color: white;
}

.ingredientbutton
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    background-color: #ff3f3f;
    color: black;
}

.accordion
{
    background-color: #ffc73b;
    padding: 5%;
    width: 100%;
    transition: 0.4s;
}

.active, .accordion:hover
{
    background-color: #ffac00;
}

.panel
{
    padding: 5%;
    background-color: #ffc73b;
    overflow: hidden;
}

.bezorgbutton
{
    background-color: #ff3f3f;
    color: black;
}

.bezorgbutton:hover
{
    color: white;
}

.bestelbutton
{
    background-color: steelblue;
    color: black;
}

.bestelbutton:hover
{
    color: white;
}

img
{
    width: 250px;
    height: 200px;
}
